body {
    background-image: url('https://png.pngtree.com/background/20250124/original/pngtree-management-in-the-education-system-concept-a-colorful-background-with-stack-picture-image_16113965.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;

}


h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    font-family: 'Segoe UI', sans-serif;
    color: #000;
    margin-top: 40px;
    margin-bottom: 40px;
    text-shadow: 1px 1px 2px rgba(255,255,255,0.7);
}


.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    width: 85vw;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

th {
    padding: 12px;
    font-size: 17px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
}

td {
    padding: 10px;
    color: #000;
    font-weight: 500;
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.btn1, .btn2 {
    background: rgba(201, 13, 13, 0.15);
    height: 35px;
    width: 200px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    margin: 0 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: 0.3s;
    color: black;
    backdrop-filter: blur(8px);
}

.btn1:hover, .btn2:hover {
    background: rgba(255, 255, 255, 0.25);
    color: red;
}

a {
    text-decoration: none;
    color:yellow;
}

a:hover {
    color: blue;
}
