*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    background-image: url('/static/IMAGES/schoolhome.png');
    width: 100vw;
    height: 100vh;
    background-size: 1600px 800px; 
    position: fixed;
}
.heading{
    font-size: 28px;
    margin-top: 90px;
    padding-left: 320px;
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
    color:whitesmoke;
}
.sub-main{
    width: 100vw;
    height: 50px;
    margin-left: 450px ;
    margin-top: 60px;
}
.btn{
    width: 150px;
    height: 50px;
    color:white;
    background-color: black;
    border: none;
    border-radius: 20px;
    font-weight: 500;
    font-family: sans-serif;
    margin-right: 20px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.sub-main .btn:hover {
    background-color: lawngreen;
    transform: scale(1.05);
    color: black;
}