body {
    background-image: url('https://www.leadsquared.com/wp-content/uploads/2024/07/school-management-system.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 30px 50px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 400px;
    color: #fff;
}


h1 {
    text-align: center;
    color: purple;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 600;
}

form p {
    margin: 12px 0;
    font-size: 15px;
}

label {
    display: block;
    font-weight: 600;
    color: black;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}


.btn {
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
    color: #000;
}

.back-btn {
    width: 80px;
    background-color: #f1f1f1;
    text-align: center;
}

.back-btn:hover {
    background-color: #dcdcdc;
}


.submit-btn {
    width: 35%;
    background-color: #9fffe0;
    text-align: center;
}

.submit-btn:hover {
    background-color: #48957b;
}
